*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgb(152, 187, 58);
  width: 100%;
  padding: 3vh 5vw;
}

.tab {
  color: rgb(155, 155, 155);
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.tab:hover {
  color: rgb(212, 212, 212);
}
.active {
  color: rgb(255, 255, 255);
}

nav a + a {
  margin-left: 1.5rem;
}

.content {
  padding: 2.5rem 5vw;
  letter-spacing: 0.05rem;
}

.errorMessage {
  color: brown;
}

#students {
  margin: 0;
  list-style: none;
}

#students .student {
  margin-top: 2.5rem;
}

.student{
  display: flex;
  justify-content: space-between;
  width: 20vw;
}

#showStudentAdd,
#addStudentMenu {
  margin-top: 2rem;
}

.invisible {
  display: none;
}

